<!DOCTYPE html>

<title>{{.Pkg}}</title>

<script type="text/javascript" src="./{{.Filename}}"></script>

<script>
  let app = new WaApp();
  app.init().then((result) => {
    app.main();
  })
</script>
