html {
  height: 100%;
}
body {
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #222;
}
a {
  color: #1CA8B2;
}
#wrap,
#about {
  padding: 5px;
  margin: 0;

  position: absolute;
  top: 50px;
  bottom: 25%;
  left: 0;
  right: 0;

}
#wrap {
  background-color: #263238;
}
#about {
  display: none;
  z-index: 100;
  padding: 10px 40px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  overflow: auto;
}
#about p {
  max-width: 520px;
}
#about ul {
  max-width: 480px;
}
#about li {
  margin-bottom: 1em;
}
#code, #output, pre, .lines {
  font-family: 'Go', 'Inconsolata', monospace;
  font-size: 11pt;
}

#code {
  color: black;
  background: inherit;

  width: 100%;
  height: 100%;
  padding: 0; margin: 0;
  border: none;
  outline: none;
  resize: none;
  wrap: off;
  float: right;

  background-color: #222;
  color: #fff;
}
#output {
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}
#output .system, #output .loading {
  color: #555;
}
#output .stderr, #output .error {
  color: #900;
}
#output pre {
  margin: 0;
}
#banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #222;
  color: #efefef;
}
#head {
  float: left;
  padding: 15px 10px;

  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
#controls {
  float: left;
  padding: 10px 15px;
  min-width: 245px;
}
#run {
  background-color: #1CA8B2;
  color: #ddd;
}
#run:hover {
  color: #fff;
}
#about {
  background-color: #333;
}
#aboutControls {
  float: right;
  padding: 10px 15px;
}
input[type=button],
#importsBox {
  height: 30px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  position: static;
  top: 1px;
}
input[type=button] {
  background: #333;
  border: 1px solid #222;
  cursor: pointer;
  color: #bbb;
  border-radius: 4px;
}
input[type=button]:hover {
  color: #fff;
  border: 1px solid #eee;
}
#importsBox {
  position: relative;
  display: inline;
  padding: 5px 0;
  margin-right: 5px;
}
#importsBox input {
  position: relative;
  top: -2px;
  left: 1px;
  height: 10px;
  width: 10px;
}
#shareURL {
  width: 280px;
  font-size: 12px;
  border: 1px solid #333;
  background: #555;
  color: #eee;
  height: 23px;
}
#embedLabel {
  font-family: Helvetica, Arial, sans-serif;
}
.lines {
  float: left;
  overflow: hidden;
  text-align: right;
}
.lines div {
  padding-right: 5px;
  color: #555;
}
.lines div:hover {
  color: #aaa;
  background-color: #222;
}
.lines div.lineerror {
  background-color: #222;
  color: #900;
}
.exit {
  color: #555;
}

#wrap .CodeMirror {
  height: 100%;
  font-family: 'Go', 'Inconsolata', monospace;
  font-size: 11pt;
}
